<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% render 'head', metadata: site.metadata, title: data.title %}
  </head>
  <body class="{{ data.layout }} {{ data.page_class }}">
    {% render 'navbar', metadata: site.metadata, resource: resource %}

    <div class="content-page">
      <main class="content-main">
        <article class="post-article">
          <header class="post-header">
            {% render 'page_header', title: data.title, date: data.date %}
          </header>
          <div class="post-separator">
            <div class="brand-shape-tiny"></div>
          </div>
          <div class="post-content">
            {{ content }}
          </div>
          <footer class="post-footer">
            <div class="post-signature">
              <div class="brand-shape-tiny"></div>
            </div>
          </footer>
        </article>
      </main>
    </div>
    <!-- 100% privacy-first analytics -->
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript>
      <img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade">
    </noscript>
  </body>
</html>
