<nav class="sidebar-nav">
  <a href="{{ '/' | relative_url }}" class="nav-brand-element">
    <div class="brand-shape"></div>
  </a>
  <ul class="nav-links">
    <li><a href="{{ '/posts' | relative_url }}">Writing</a></li>
    <li><a href="https://github.com/oscar-barlow/CV/releases/latest" class="cv-link">CV</a></li>
  </ul>
</nav>
