<nav class="main-nav">
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/posts' | relative_url }}">Writing</a></li>
    <li><a href="https://github.com/oscar-barlow/CV/releases/latest" class="cv-link">CV</a></li>
  </ul>
</nav>
