name: Check links

on:
    pull_request:
    push:
        branches:
            - "*"
            - "!master"

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          fail: true
          args: --verbose --no-progress './**/*.md' './**/*.html' --exclude-path README.md --exclude-path src/posts.md